body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.header {
  background-color: #1f3348;
  padding: 5%;
}

.header h1,
h3 {
  color: white;
}

.sidebar {
  background-color: #4c596c;
  padding-top: 4%;
  padding-left: 4%;
  height: 200em;
}

.sidebar h3 {
  color: #f90030;
}

.sidebar h5 {
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}

.sidebar span {
  background-color: #808080;
  color: white;
  padding: 3%;
  display: inline-block;
  border-radius: 50px;
  margin-bottom: 0.2em;
}

.sidebar i {
  margin-right: 1%;
  font-size: 1.5em;
}

.sidebar a {
  font-size: 0.9em;
  color: white;
  text-decoration: underline;
}

.rightsidebar {
  padding-top: 4%;
  padding-left: 4%;
}

.rightsidebar h3 {
  color: black;
}

.rightsidebar hr {
  background-color: #f90030;
  margin-right: 8%;
  margin-bottom: 4%;
}

.hideable {
  text-decoration: none !important;
}
